ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="09e8", ENV{ID_MODEL_ID}=="0034", RUN+="systemctl start midioscar"
ACTION=="remove", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="09e8", ENV{ID_MODEL_ID}=="0034", RUN+="systemctl stop midioscar"
